/*
  Author:     Cicero Raldi da Fonseca
  ID:         0898946
  Date:       01-17-2020
  Purpose:    Web Programming with XML - Project 01
*/

body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  margin-bottom: 1%;
  padding: 2%;
}

#bottomLogo {
  padding-left: 2%;
}